html *{
    text-align: center;
}
section{
    max-width: 60rem;
    margin: 0 auto;
}
section ul{
    list-style: none;
    line-height: 2rem;
    padding: 0;
}
section ul:nth-child(even) {
    background-color: #eee;
}
section ul li{
    padding: 0.5rem;
    text-align: left;
    margin-left: 2rem;
}
